html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 80%;
  display: block;
  float: right;
}

#id {
  float: left;
}

a {
  text-decoration: none;
  color: black;
}

a:focus { text-decoration: none; color: blue;}
a:hover, a:active { text-decoration: none; color: blue;}
