html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.content {
  height: 100%;
  width: 100%;
}

#map {
  height: 83.3%;
  width: 68%;
  display: block;
  float: right;
  border: 3px solid #000;
}

#id {
  float: left;

}

.search {
  width: 30%;
  border: 3px solid #000;
}

.list {
  border: 3px solid #000;
  width: 30%;
  height: 80%;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: black;
}

a:focus { text-decoration: none; color: blue;}
a:active { text-decoration: none; color: blue;}
a:hover { text-decoration: none; color: red;}
